// BASES 
@import "base/reset";
@import "base/variables";
@import "base/mixin";
@import "base/maps";
@import "base/extend";

//COMPONENTES
@import "components/index";
@import "components/conocenos";
@import "components/hace_un_pedido";
@import "components/nuestros_trabajos";
@import "components/contacto";



//BARRA DE NAVEGACIÓN

header {
    .navbar{
        div img{
                width: 10rem;
                margin-left: 3rem;
                padding: 0.5rem;  
            }
        .navbar-toggler-icon{
                color: $color-principal;
            }
        .navbar-nav{
            display: flex;
            justify-content: space-around;
            width: 35rem;
            justify-items: center;
            align-items: center;
            li a {
                color: $color-principal;
                font-weight: 800;
                align-items: center; 
                padding: 0rem;
                margin-left: 1.5rem;
            }     
            li a:hover {
                color: $color-principal;
            }
        }

    }

}



// PIE DE PAGINA

.footer{
    padding: 0%;
    background-color: $color-principal;
    width: 100%;
    color: white;
    height: 4rem;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    div a{
        color: white;
    }
    div a:hover{
        color: white;
    }
    div a i{
        color: white;
    }
    .iconosFooter {
        color: white;
        width: 7rem;
        align-items: center;
        padding: 1rem;
    
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }
    .textoFooter{
        padding: 1rem;
    }
}



/* ADAPTABILIDAD TABLET */


// PIE DE PÁGINA
@media (min-width: 576px) and (max-width: 992px) {
    .footer{
        padding: 0%;
        height: 7rem;
        flex-direction: column;
        .iconosFooter {
            width: 7rem;
            padding: 0.5rem;
        }
        
        .textoFooter{
            padding: 0;
        }
    }
    
    
}



/* ADAPTABILIDAD MOBILE */

// PIE DE PÁGINA

@media (max-width: 576px) {
        .footer{
        padding: 0%;
        height: 7rem;
        flex-direction: column;
        .iconosFooter {
            width: 7rem;
            padding: 0.5rem;
        }
        
        .textoFooter{
            padding: 0;
        }
    }
    
    
}

