main{
    .paginaContacto{
        display: flex;
        flex-direction: row;
        font-weight: bold;
        justify-self: center;
        justify-content: space-around;
        margin-left: 5rem;
        margin-right: 5rem;
        padding-top: 6rem;
        h1{
            color: $color-principal
         }        
        .contacto{
            width: 50%;
            height: 35rem;
            padding: 3rem;
            margin-top: 0rem;
        
            display: flex;
            flex-direction: column;
            justify-content: center;
        
            text-align: left;
            align-items: left;
        
        }
        div a {
            color: $color-principal;
            text-decoration: none;
            display: flex;
        }
        div a:hover {
            color: $color-principal;
            text-decoration: none;
            display: flex;
        }
        .mapaContacto{
            margin-top: 1.5rem;
        }
        .fa-whatsapp, .fa-instagram, .fa-location-dot, .fa-at{
            margin-right: 0.5rem;
        }
        .whatsapp, .instagram, .direccion, .email:hover{
            color: $color-principal;
        }
        .whatsapp, .instagram, .direccion, .email{
            width: max-content;
            height:2rem;
            display: flex;
            text-align: left;
        }        
    }

    .contenedorFormulario{
        margin-top: 5rem;
        padding:3rem;
        height: 95vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        .nombreForm, .emailForm, .telefonoForm, .form-check  {
            padding: 0.5rem;
        }
        .botonForm{
            width: 7rem;
            background-color: $color-principal;
            color: white;
            margin-top: 1rem;
            border-radius: 5px;
            display: inline-block;
            padding: 0.5rem;
            border: none;
        }
        .botonForm:hover{
            font-weight: bolder;
        }
    }
}



/* -- ADAPTABILIDAD TABLET -- */
@media (min-width: 576px) and (max-width: 992px){

    main{
        .paginaContacto{
            flex-direction: column;
            .contacto{
                width: 80%;
                margin-top: 0rem;
             }
        }        
        .contenedorFormulario{
            width: 80%;
            height: fit-content;
            margin-top: 0;
            .botonForm{
                align-self: center;
            }
        }
    }
}   


/* ADAPTABILIDAD MOBILE */
@media (max-width: 576px) {
    main{
        .paginaContacto{
            width:100%;
            margin: 0;
            padding: 0;
            flex-direction: column;
            .contacto{
                width: 100%;
                margin-top: 0rem;
                margin-top: 0;
                height: fit-content;

            }
            .mapaContacto{
                display: none;
            }
        }
        .contenedorFormulario{
            margin:0;
            width: 100%;
            height: fit-content;
            margin-top: 0;
            .botonForm{
                align-self: center;
            }
        }
    }
}