
header{
    .cajaImagen{
    background-image: url(../Img/bannerHome.jpg);
    background-size: cover;
    padding: 10rem;
    height: 80vh;

    display: flex;
    align-items: center;
        .textoBanner{
            width: 65%;
            font-weight: bold;
            font-size: 1.1rem;
            margin-top: 1rem;  
            color: $color-principal;
            h1{
                font-size: 2.5rem;
                font-weight: bold;
            }

            /*MAPA*/
            .botonBanner{
                color: map-get($boton-principal, color-tipografia);
                background-color: $color-principal;
                margin-top: map-get($boton-principal, margenes-boton);
                border-radius: map-get($boton-principal, radio);
                display: map-get($boton-principal, display-boton);
                padding: map-get($boton-principal, padding-boton);
                font-weight: map-get($boton-principal, fuente);
            }

            .botonBanner:hover{
                font-weight: bold;
            }
            
        }
    }
}


main{
    .informacionHome{
        padding: 3rem;
        width: 100%;
        height: 30hv;
        color: $color-principal;
        font-weight: 800;
        /*MIXIN*/
        @include flex-row;
        justify-content:space-around;

        .pedidosAnticipados .textoIconoAnticipacion h2{
            /*EXTEND*/
            @extend %iconos-home;
        }
        .enviosMoto .textoIconoEnvios h2{
            @extend %iconos-home;
        }
        .formaPago .textoIconoPago h2{
            @extend %iconos-home;
        }
        .pedidosAnticipados, .enviosMoto, .formaPago{    
            text-align: center;
        }
    }
}
