
main{
    .fotosTortas{
        display: flex;
        padding: rem;
        width: 100;
        height: 40rem;
        align-items: center;
        justify-content: space-around;
        .foto1:hover, .foto2:hover, .foto3:hover, .foto4:hover {
            transform: scale(1.01);
            transition: 0.5s;
        }
        .foto1, .foto2, .foto3, .foto4 {
            width: 20rem;
            height: 25rem;
        }
        .foto1{
            margin-top:5rem;
            background-image: url(../Img/nuestrostrabajos1.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 0.3rem;
        }
        .foto2{
            margin-top:5rem;
            background-image: url(../Img/Torta.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 0.3rem;
        }
        .foto3{
            margin-top:5rem;
            background-image: url(../Img/nuestrostrabajos3.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 0.3rem;
        }
        .foto4 {
            margin-top:5rem;
            background-image: url(../Img/nuestrostrabajos4.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 0.3rem;
        }

    }

}




