
$boton-principal: (
    color-tipografia: white, 
    color-fondo: $color-principal,
    margenes-boton: 1rem,
    radio: 5px,
    display-boton: inline-block,
    padding-boton: 0.5rem,
    fuente-boton: lighter,
);