
@mixin flex-row {
    display: flex;
    align-items: center;
    justify-content: center;

}

@mixin titulo-principal {
    color: $color-principal;
    font-size: 2.5rem;
    font-weight: bold;
}

@mixin titulo-secundario {
    color: $color-principal;
    font-size: 2rem;
    font-weight: bold;
}